body {
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
a {
    color: rgb(0, 61, 71);
    text-decoration: none;
}
a:visited {
    color: rgb(0, 61, 71);
}
a:hover, a:active {
    color: rgba(0, 61, 71, 0.7);
    border-bottom: 2px solid rgb(108, 163, 163);
}

.container {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
}

/* HEADER */

header {
    background-color: white;
}
.header-box div {
    display: inline-block;
}
.logo-box {
    margin: 20px 20px 20px 45px;
}
.logo-box img {
    border: none;
    vertical-align: bottom;
}
.navbar {
    float: right;
    margin: 20px 45px 20px 20px;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar li {
    display: inline-block;
    padding: 5px;
}
.nav-social-button {
    background-color: rgb(43, 175, 43);
    border: 2px solid rgb(43, 175, 43);
    border-radius: 5px;
    color: aliceblue;
    padding: 8px 25px;
}
.nav-social-button:hover {
    background-color: aliceblue;
    color: rgb(0, 129, 0);
}

/* MAIN CONTENT */

section {
    margin: 45px;
}

/* FOOTER */

footer {
    background-color: rgb(34, 34, 34);
    display: inline-block;
}
.footer-box {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    margin: 45px;
}
.footer-box div {
    color: rgb(206, 206, 206);
    font-size: 0.9rem;
}
.footer-box ul {
    list-style: none;
    padding: 0;
}
.footer-box a {
    color: rgb(160, 153, 153);
}
.footer-box a:hover {
    border-bottom: 1px solid rgb(59, 59, 59);
}
.copyright {
    grid-column: 1 / span 4;
    grid-row: 2;
    border-top: 1px solid rgba(75, 75, 75, 0.4);
    font-size: 0.8rem;
    text-align: right;
    margin-top: 40px;
    padding: 5px 0;
}
