body {
    /* background-color: #d3d0d0; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal; */
    margin: 0;
    padding-top: 80px;
    padding-bottom: 0;
}

* {
    box-sizing: border-box;
}

/* NAVBAR */

.navbar-expand-md {
    padding-left: 90px;
    padding-right: 90px;
}
/* .navbar-nav {
    text-align: end;
} */

/* FOOTER */

footer {
    background-color: #353434;
}
.footer-info {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding: 80px 0;
}
.footer-info div {
    border: 1px solid wheat;
}
.copyright {
    color: #d3d0d0;
    font-size: 0.8rem;
    text-align: right;
    padding: 20px 0;
}