body {
    /* background-color: #d3d0d0; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal; */
    /* color: #2774AE; */
    /* color: #000; */
    margin: 0;
    padding-top: 80px;
    padding-bottom: 0;
}

* {
    box-sizing: border-box;
}
a {
    color: #d3d0d0;
    text-decoration: none;
}
a:hover {
    color: #0cafff;
}

.bg-main {
    background-color: #F0F8FF;
}

.btn-primary {
    background-color: #0cafff;
    border: 1px solid #0cafff;
    border-radius: 0%;
}
.btn-primary:hover {
    background-color: white;
    border: 1px solid #0cafff;
    color: #0cafff;
}

/* NAVBAR */

.navbar-expand-md {
    padding-left: 90px;
    padding-right: 90px;
}
/* .navbar-nav {
    text-align: end;
} */

/* FOOTER */

footer {
    background-color: #353434;
    color: #d3d0d0;
}
.footer-info {
    font-size: 1rem;
    padding: 80px 15px 50px 15px;
}
.footer-info div {
    border: 0px solid wheat;
}
.footer-info ul {
    list-style: none;
    padding-left: 0;
}
.copyright {
    color: #adacac;
    font-size: 0.8rem;
    text-align: right;
    padding: 20px 0;
}


/* HOVER DROPDOWN MENU - W3S */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}